@import 'variables';
footer {
    width: 100vw;
    height: 210px;
    background-color: black; 
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin: auto 0 20px 0;
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: white;
    }
}