@import 'variables';

header {
    @include responsiveHorizontalMargin;
    @include responsiveTopMargin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;

    img {
        width: clamp(9.063rem, 6.103vw + 7.632rem, 13.125rem);
        height: auto;
    }

    nav {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        max-width: 309px;

        a {
            font-size: clamp(0.75rem, 0.4859rem + 1.1268vw, 1.5rem);            font-weight: 500;
            color: black;
            text-decoration: none;

            @media (width <= $breakpoint-mobile) {
                text-transform: uppercase;
            }
        }
        
        .active {
            text-decoration: underline;
        }

        @media (width <= $breakpoint-mobile) {
            justify-content: end;
            gap: 15%;
        }

    }
}