/* ----- Variables ----- */
// Font url
$montserrat-font-url: 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap';

// Color
$color-red: #FF6060;

// Breakpoints
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;

/* ----- Mixins ----- */
@mixin mainLayoutStyle {
    main {
        box-sizing: border-box;
        width: 100%;
        @include responsivePadding;
    }
}

@mixin responsivePadding {
    padding: clamp(1.25rem, 2.347vw + 0.7rem, 2.813rem) clamp(1.25rem, 7.512vw - 0.511rem, 6.25rem);
}

@mixin responsiveHorizontalMargin {
    margin-inline: clamp(1.25rem, 7.512vw - 0.511rem, 6.25rem);
}

@mixin responsiveTopMargin {
    margin-top: clamp(1.25rem, 2.347vw + 0.7rem, 2.813rem);
}

@mixin removeButtonBackground {
    border: none;
    background: none;
    cursor: pointer;
}